body {
    background-color: darkgray;
    text-align: center;
}

header {
    background-color: beige;
}

h1 {
    font-size: 400%;
    color: darkgray;
    padding: 30px;
    text-align: left;
}

#navbar {
    position: absolute;
    display: flex;
    text-align: right;
    gap: 20px;
    right: 25px;
    top: 40px;
}

li {
    list-style-type: none;
    padding: 10px;
    border: solid 3px darkgray;
    border-radius: 25px;
    background-color: darkgray;

}

#navbar a {
    text-decoration: none;
    color: beige;
    font-size: 150%;
}

#About-me {
    position: relative;
    display: block;

    padding: 30px;
}

#About-me img {
    height: 450px;
}

#My-work {
    align-content: center;
    padding-bottom: 1rem;
}

#My-work h2 {
    font-size: 150%;
    padding: 1.5rem;

}

#work-app {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;

}
#work-app a{
    text-decoration: none;
    color: black;

}
.app-set h3 {
    position: relative;
    bottom: 1.5rem;
}

#img1 img{
    width: 400px;
    height: 85%;
}

footer {
    background-color: beige;
    padding: 10px;
}

footer h2 {
    font-size: 150%;
    padding: 0.5rem;
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
}

footer ul li {
    border-radius: 0;
}

footer ul li a {
    text-decoration: none;
    color: beige;
    font-size: 25px;
}

@media screen and (max-width: 768px) {
    h1 {
        text-align: center;
    }

    #navbar {
        position: static;
        flex-direction: column;
        text-align: center;
        padding-bottom: 10px;

    }

    #About-me img {
        height: 300px;
    }

}